Dev02_Chatbot_Messages_Done.json
{
  "name": "Dev02 Chatbot Messages Done",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "c6f8b6fa-b4f4-4948-9ec7-e007f4dd4ef3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -160
      ],
      "id": "50e23b22-47cd-4ea8-8a45-9b05bce5076a",
      "name": "Webhook",
      "webhookId": "c6f8b6fa-b4f4-4948-9ec7-e007f4dd4ef3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f048773-a5ec-4a16-9bc5-8b3a3882cf7e",
              "name": "query['hub.challenge']",
              "value": "={{ $json.query['hub.challenge'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -180
      ],
      "id": "65f50ecd-5c2e-4efe-a1eb-6bc9989b0904",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        -180
      ],
      "id": "bf30bf18-5205-4f06-bac2-948211f73e71",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f136e0ff-f097-4a74-8530-fdf071b08d0a",
              "name": "id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "c18036eb-9db5-4f47-96e3-f5efefc4c354",
              "name": "text",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        120
      ],
      "id": "8c359ef1-65f4-4c76-a654-6c0fd9fea641",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional, friendly, and helpful sales rep.\n\nA Google Sheet called FAQs. Use this data to answer customer questions whenever a suitable answer exists.\n\nIf there is no matching question or answer in the data provided, you are allowed to infer and create a reasonable, helpful response — but always keep your response short, clear, and accurate.\n\nCustomer question: {{ $json.text }}\n\nPlease respond in Vietnamese. Keep your responses short, friendly, and focused.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        180
      ],
      "id": "6bce675a-f72f-49d0-bfeb-35d286d26eef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        440,
        440
      ],
      "id": "9fcf319c-78b9-41f0-938b-835d9c57689c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0pbQIPDA8R2hwQdL",
          "name": "db_chatbot_messenger"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/ {{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAJZB9hmKw0kBO37pi3oIUhQqR2D5jJjdBxpYR9GEqkZBLy5CzaCb7cjLUOQqzc2FXmAZAt5SpICJ29iBOcAneTG5wqEq2Yp6OGRCx7yTfZC6ZBLSfG7YnlGUETeHmM35iAn4n05CurrR9Kjhp6dx8G6vl53QE2O23bhZC5pUttZA05WReiW2LNpCZCPakbS7CBTFvbeeVPdBOJX5usZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"recipient\":{\"id\":\"{{ $('Edit Fields1').item.json.id }}\"},\"message\":{\"text\": \"{{ $('Code').item.json.data }}\"}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        180
      ],
      "id": "ee392ee1-2fe4-40e9-81ea-0edc4c80af47",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let data = $input.first().json.output.replaceAll('\\n', ' ')\n\nreturn {data:data}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        180
      ],
      "id": "cff76b45-341b-4601-8543-dcafff71cb78",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Z8emVSyUvl_OFH6wSnGIIXM0fFl33cB6TB-SfCZtgRc",
          "mode": "list",
          "cachedResultName": "QA Gold",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z8emVSyUvl_OFH6wSnGIIXM0fFl33cB6TB-SfCZtgRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "QA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z8emVSyUvl_OFH6wSnGIIXM0fFl33cB6TB-SfCZtgRc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        580,
        400
      ],
      "id": "08bfdec5-b1d2-4a63-8d7d-0a413c12cac3",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "cMCHehkvYuDfrDxT",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        380
      ],
      "id": "53d5aaab-c0bb-4b09-b65c-6ef63647e41c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I7hAaCkG9aNi9mp6",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        740
      ],
      "id": "7022dcf9-7465-40a4-ba6a-a3f8815f2b82",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "I7hAaCkG9aNi9mp6",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "state_vector",
        "description": "active a vector store quando perguntar sobre documentos da empresa"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        720,
        360
      ],
      "id": "f4cf0e4e-a52b-43f3-b26c-b75ca30e15e8",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        620,
        560
      ],
      "id": "4cc40c6b-5466-4230-a8c1-1bb1d415973d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "sK6i09mV8BUOWZpS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        560
      ],
      "id": "7adc1343-aa16-4e28-8e89-14e196a77eea",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "I7hAaCkG9aNi9mp6",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ca28263-cc5e-47e4-ab60-c80602b00892",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27f300b5a724bfb4b8c812b1f202e890f33a244619ea6c290b1a6c84110702e5"
  },
  "id": "uqAUrbA95zLGgyiV",
  "tags": []
}